<app-header></app-header>

<main class="flex-shrink-0">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center bg-primary">
            <h1 class="text-light">Edit Item</h1>
          </div>
          <div class="card-body">
            <form [formGroup]="itemForm" (ngSubmit)="onSubmit()" class="row g-3">

              <div class="col-md-12">
                <label for="item" class="form-label fw-bold">Item Name</label>
                <input type="text"
                       id="item"
                       name="item"
                       formControlName="item"
                       class="form-control"
                       aria-describedby="itemHelp">
              </div>
              <div class="col-md-12">
                <label for="description" class="form-label fw-bold">Description</label>
                <textarea id="description"
                          name="description"
                          formControlName="description"
                          class="form-control"
                          aria-describedby="descriptionHelp"
                          rows="5"></textarea>
              </div>
              <div class="col-md-12">
                <label for="date" class="form-label fw-bold">Date</label>
                <input type="date"
                       id="date"
                       name="date"
                       formControlName="date"
                       class="form-control"
                       aria-describedby="dateHelp">
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-success w-50 float-end">Save</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
